body {
    display:grid;
    grid: "h h h h"
          "a a b b"
          "f f f f";
    grid-template-columns: auto 1fr 20%;
    grid-template-rows: auto auto auto auto;
}
header {
    grid-area: h; min-width: 12em;
}
section {
    grid-area: a;
}
aside {
    grid-area: b; min-width: 12em;
}
footer {
    grid-area: f; min-width: 12em;
}